.post h2
{
  margin: 0;
}

.announcement.panel .panel-body
{
  padding: 0;
}

.announcement .post-image
{
  max-height: 150px;
  overflow: hidden;
}

.announcement .post-link
{
  padding: 18px 28px;
}
