body
{
  background: #293450;
}

body, td, input, textarea
{
  font-size: 18px;
  font-weight: 300;
  color: #ccc;
}

a, a:hover
{
  color: #eef;
}

h1
{
  font-weight: 200;
}

h2, h3, h4, h5, h6
{
  font-weight: 100;
  color: #b1b7ce;
}

.page-header
{
  margin: 0;
  color: #fff;
  text-shadow: 1px 1px 5px #3D4D86;
  border-bottom: 0;
}

.page-header h1, .page-header h3
{
  margin: 0;
}

/* Center the nav tabs: http://stackoverflow.com/a/9422253 */
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.nav-pills a:hover
{
  color: #8a94b6;
}

.panel
{
  color: #666;
}

.panel h2
{
  color: #999;
}

.panel a, .panel a:hover
{
  color: #66c;
}


#header
{
  margin-bottom: 20px;
}

#content
{
  margin-bottom: 20px;
}

#footer
{
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.help-block
{
  color: #8a94b6;
}